/.env
/.idea/agente-hgil.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/dataSources/9595acdf-e1d4-494d-8e90-500e9fadd825.xml
/.idea

